/* ==============  GLOBAL STYLES  ==============  */
html, body {
      height:100%;
}
body {
     margin: 0px !important;
     padding:0px !important;
     background-color:#b5cdbb;
     font-family:'Trebuchet MS', Verdana, sans-serif;
     font-size:16px;
     font-weight:500;
     color:#000000;
}

.jumbotron{
    width: 100%;
    height: 375px;
    background-image: url('../images/HansenSmithHeader.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
main{
    margin:20px;
    overflow: hidden;
}
/* ==============  HEADER STYLES  ==============  */
h1, h2, h3 {
      margin:0px;
      padding:0px;
      color:#ffffff;
}
h1 {
    font-size:2em;
}
.header{
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.navbar {
    position: absolute;
    margin: 0px !important;
    z-index: 30;
    width:100%;
    padding: 0px !important;
    margin: 0px !important;
    background-color: #ffffff;
}
.navbar-collapsse{
    height: 35px !important;
}
.navbar-header {
    /*background-color: #pink;*/
    width:100%;
    padding: 0px !important;
    margin: 0px !important;
}
.navbar-default {
    background-color:#b5cdbb;
    border: none;
    margin: 0px !important;
}
.navbar-right{
    text-align: center;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: blue;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #000000;
}
.navbar-default .navbar-nav > li > a{
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #80cd32;
    font-weight: 600;
}

figure{
    padding: 10px;
    background-color:#80cd32;
    display:inline-block;
    border-radius: 8px;
    margin:0px;
}
figcaption{
    text-align: center;
    font-size: 2em;
}



/* ==============  NAVIGATION STYLES  ==============  */


.currentPage{
    color:#000000;
}

/* ==============  COLUMN STYLES  ==============  */
.column-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.columnA, .columnB, .columnC {
    background-color:#81abdb;
    width:400px;
    color:#ffffff;
    text-align:center;
    font-weight: 400;
    border-radius: 8px;
}
.columnA, .columnB{
    margin-right: 36px;
}
.columnA h2, .columnB h2, .columnC h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.columnA p, .columnB p, .columnC p {
    padding: 5px;
    text-align: justify;
}
/* ============== BUTTON STYLES ============== */
.button {
	background-color: #b5cdbb;
	border-radius: 8px;
	padding: 13px 18px;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 10px;
}

.button:hover {
	background-color: #ffffff;
	color:#000000;
	font-weight: 700;
}

/* ==============  ASIDE STYLES ============== */
.leftAside{
    float:left;
    /*background-color:#e60000;*/
    /*height:600px;*/
    width:384px;
    color:#000000;
    text-align:center;
    margin-right:24px;
}

.rightAside{
    float:right;
    width:384px;
    color:#000000;
    text-align:center;
    margin-left:24px;
}

.aboutMe{
    float: right;
    width: 790px;
}
.aboutMe p{
    text-align: justify;
}
.contact-form-data{
    background-color: #81abdb;
}

/* ==============  FOOTER STYLES  ==============  */
footer {
    height: 125PX;
    padding: 20px 0px;
    margin-top: 20px;
    border-top: 4px dotted;
    text-align: center;
    background: #81abdb;
}

/* ==============  SOCIAL STYLES  ==============  */
.fa{
    background-color: rgb(141, 198, 63);
    border: solid 5px #ffffff;
    font-size: 2em !important;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 12px;
    margin: 0px 15px;
    text-align: center;
}
/* ==============  ABOUT PAGE SPECIFIC STYLES  ==============  */
.about-text-1{
    padding-top: 30px;
}
