/* ==============  GLOBAL STYLES  ==============  */
html, body {
      height:100%;
}
body {
     margin:0px;
     padding:0px;
     background-color:#b5cdbb;
     font-family:'Trebuchet MS', Verdana, sans-serif;
     font-size:16px;
     font-weight:500;
     color:#000000;
}
main{
    margin:20px;
    overflow: hidden;
}
h1, h2, h3 {
      margin:0px;
      padding:0px;
      color:#ffffff;
}
h1 {
    font-size:2em;
}
/*#banner{
    overflow:hidden;
    padding: 175px 0px;
    background-color: #ffffff;
    background: url(../images/HansenSmithHeader.png) no-repeat center center #ffc0cb;
    background-size: cover;
    text-align: center;
}*/

#bannerText{
    color: #ffffff;
    font-size: 6em;
    text-align: center;
    text-shadow: 6px 6px 4px #e6005c;
}
p {
   color:#545454;
   margin: 15px 0px;
   line-height: 20px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color:#80cd32;
    /*background-color: #ffffff;*/
    font-weight: 600;
}
figure{
    padding: 10px;
    background-color:#80cd32;
    display:inline-block;
    border-radius: 8px;
    margin:0px;
}
figcaption{
    text-align: center;
    font-size: 2em;
}

/* ==============  HEADER STYLES  ==============  */
/*header{*/
/*    height:150px;*/
/*    background-color:#ffc0cb;*/
/*}*/

#logo{
    color:#000000;
    /*position: relative;*/
    position: absolute;
    top: 55px;
    left: 170px;
}
#logo:hover{
    background-color: #ffc0cb;
}

/* ==============  NAVIGATION STYLES  ==============  */

#menu{
    position: absolute;
    /*top: 20px;*/
    right: 20px;
    float: right;
	width: 25%;
	/*padding: 20px 20px 0px 20px;*/
	top: 200px;
}
#menu ul li{
    /*display: inline;*/
    display: inline-block;
    /*margin: 0px 10px;*/
    background-color: #b5cdbb;
    padding: 10px 15px 4px 15px;
    border-radius: 8px 8px 0px 0px;
}
#menu li:hover{
    color: #000000;
    background-color: #ffffff;
}

.currentPage{
    color:#000000;
}

/* ==============  HEADER STYLES  ==============  */

/*header{
    overflow:hidden;*/
    /*display: inline-block;*/
    /*background: url(/images/HansenSmithHeader.png) no-repeat center center #ffc0cb;*/
    /*padding: 175px 0px;
    border-top: 6px dotted #000000;*/
    /*border-bottom: 6px solid #000000;
    background-color: #aeaeae;    */
    /*background-size: cover;
    text-align: center;*/

/*.header h1{
    color: #ffffff;
    text-align: center;
    text-shadow: 6px 6px 4px #4B98E5;
     font-size: 2em;
}*/
/*#banner .button{*/
/*    background-color: #ffffff;*/
/*    color: #e6005c;*/
/*    margin-top: 50px;*/
    /*top:145px;*/
    /*right: 500px;*/
/*    font-size: 1.25em;*/
/*}*/
/*#banner .button:hover{*/
/*    color:#ffffff;*/
/*    background-color: #e6005c;*/
/*}   */

/* ==============  COLUMN STYLES  ==============  */

.columnA, .columnB, .columnC {
    background-color:#81abdb;
    /*height:610px;*/
    width:384px;
    color:#ffffff;
    text-align:center;
    font-weight: 400;
    border-radius: 8px;
    /*margin:8px;*/
}

.columnA, .columnB{
    /*float:left;*/
    margin-right: 24px;
}

.columnA h2, .columnB h2, .columnC h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    /*margin: 15px 0px;*/
    /*    */
}

.columnA p, .columnB p, .columnC p {
    padding: 5px;
    text-align: justify;
}

/*.columnA span, .columnB span, .columnC span {*/
/*    background-color:#ffc0cb;*/
/*    color: #ffffff;*/
/*    display: block;*/
/*    font-size: 1.5em;*/
/*    font-weight: 600;*/
/*    text-align: center;*/
/*    padding: 15px;*/
/*}*/

/* ============== BUTTON STYLES ============== */
.button {
	background-color: #b5cdbb;
	border-radius: 8px;
	padding: 13px 18px;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 10px;
}

.button:hover {
	background-color: #ffffff;
	color:#000000;
	font-weight: 700;
}

/* ==============  ASIDE STYLES ============== */
.leftAside{
    float:left;
    /*background-color:#e60000;*/
    /*height:600px;*/
    width:384px;
    color:#000000;
    text-align:center;
    margin-right:24px;
}

.rightAside{
    float:right;
    width:384px;
    color:#000000;
    text-align:center;
    margin-left:24px;
}

.aboutMe{
    float: right;
    width: 790px;
}
.aboutMe p{
    text-align: justify;
}
/* ==============  FOOTER STYLES  ==============  */
footer {
    height: 125PX;
    padding: 20px 0px;
    margin-top: 20px;
    border-top: 4px dotted;
    text-align: center;
    background: #81abdb;
}

/* ==============  SOCIAL STYLES  ==============  */
.fa{
    background-color: rgb(141, 198, 63);
    border: solid 5px #ffffff;
    font-size: 2em !important;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    padding: 12px;
    margin: 0px 15px;
    text-align: center;
}
